{% extends 'main.html.twig' %}

{% block content %}
    <h1> Listes des catégories </h1> <br> <br>

    {% for categ in categories %}
        <h2> Catégorie : {{ categ.nom  }}</h2>
        <div> {{ categ.description }} </div>
        <br>
        {% if categ.sandwiches is empty%}
            <div class="noSand"> Aucun sandwiche dans cette categorie </div> <br>
        {% else %}
            {% for sand in categ.sandwiches %}
                <div class="sandByCateg">
                    <h4> - {{ sand.nom  }}</h4>
                    <div> {{ sand.description }} </div>
                </div>
                <br>
            {% endfor %}
        {% endif %}
        <hr>
    {% endfor %}

{% endblock %}
