{% extends 'main.html.twig' %}

{% block content %}
    <meta http-equiv="refresh" content="2;URL={{ link }}">
    <div class="error">
        <h1>Erreur :</h1>
        <p>{{ msg }}</p>
    </div>
{% endblock %}