{% extends 'main.html.twig' %}

{% block content %}
    <h1>Ajouter un sandwich</h1>
    {% if error['bool'] %}
        {{ error['msg'] }}
    {% endif %}
    <form method="post" action="{{ link }}" enctype="multipart/form-data">
        <input type="hidden" name="token" value="{{ token }}" />
        <label>Nom :</label><br />
        <input type="text" name="nom" required/><br />
        <label>Description :</label><br />
        <input type="text" name="description" required/><br />
        <label>Type pain :</label><br />
        <input type="text" name="type_pain" required/><br />
        <label>Image</label><br />
        <input type="file" name="img"><br />
        <label>Prix :</label><br />
        <input type="text" name="prix" required/><br />
        <label>Categorie :</label><br />
        <select name="category" required>
            {% for category in categories %}
                <option value="{{ category.id }}">{{ category.nom }}</option>
            {% endfor %}
        </select><br />
        <input type="submit" name="btSubmit" value="Ajouter" class="buttons"/>
    </form>
{% endblock %}