{% if error['bool'] %}
    {{ error['msg'] }}
{% endif %}
<form method="post" action="{{ link }}">
    <input type="hidden" name="token" value="{{ token }}" />
    <label>Identifiant :</label><br />
    <input type="text" name="identifiant" required/><br />
    <label>Mot de passe :</label><br />
    <input type="password" name="mdp" required/><br />
    <input type="submit" name="btSubmit" value="Valider" class="buttons"/>
</form>