<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title> Service Catalogue </title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>

<div id="navBar">
    <h1 id="title"> Catawich </h1>
    <div id="menu"> 
        <div> <a href="http://api.service.catalogue-demo.local:40080/sandwiches"> Liste de sandwiches </a> </div>
        <div> <a href="http://api.service.catalogue-demo.local:40080/sandwiches/add">Ajouter un sandwich </a> </div>
        <div> <a href="http://api.service.catalogue-demo.local:40080/categories"> Catégories </a> </div>
        <div> <a href="http://api.service.catalogue-demo.local:40080/logout"> Déconnection </a> </div>
    </div>
</div>

<div id="block">
    {% block content %}
    {% endblock %}
</div>


        <script> 

            function deleteSandwich(id){
                $('#title').html("okkk")
                $.ajax({
                    url: 'http://api.service.catalogue-demo.local:40080/sandwiches/' +id,
                    type: 'DELETE',
                    success: function(result) {
                        window.location.reload()
                    }
                });
            }

            function editSandwich(id){
                $('#detailsContainer' +id).hide();
                $('#formContainer' +id).show();
            }

            function annuler(id){
                $('#formContainer' +id).hide();
                $('#detailsContainer' +id).show();
            }

            function validerSandwich(id){
                let data = {
                    nom : $("#formContainer"+id +" #inputName").val(),
                    description : $("#formContainer"+id +" #inputDescr").val(),
                    type_pain : $("#formContainer"+id +" #inputType").val(),
                    img : null,
                    prix : $("#formContainer"+id +" #inputPrix").val(),
                }

                $.ajax({
                    url: 'http://api.service.catalogue-demo.local:40080/sandwiches/' +id,
                    type: 'PUT',
                    data : data,
                    headers: {"X-HTTP-Method-Override": "PUT"},
                    dataType: "json",
                    success: function(result) {
                        console.log("putting " +id +"COMPLETE")
                        window.location.reload()
                    }
                });

            }


        </script>


</body>
</html>

<style lang='css'> 

#navBar{
    display : flex;
    flex-direction : row;
 background-color : #DDDDDD;
 padding : 1em;
 text-align : center ;
}
#menu{
    flex : 1 ;
    padding-top : 1em;
    display : flex;
    color : ;
    justify-content: space-around;
    margin : 0;
}
a{
    text-decoration : none;
}
body, html, h1{
    margin : 0;
    padding : 0;
}

#block{
    width : 80%;
    margin : 2em auto;
}

h2, p{
    margin : 0;
}

#sandList{
    margin : 20px 0;
}

#titleSandList{
    margin-top : 20px;
}

.sandByCateg{
    margin-left : 50px;
}

.noSand{
    font-style : italic;
}

h4{
    margin : 0;
}

.sand{
    display : flex;
    flex-direction : row;
}

.buttons{
    display : flex;
    align-items: center;
    justify-content: center;
    width : 25%;
    min-width : 190px;

}

button{
    width : 80px; 
    margin-left : 5px;
}

.editSand{
    width : 70%
}
form, .formContainer{
    width : 90%
}

.formContainer{
    display : none
}

.OneLine{
    display : flex;
    flex-direction : row;
    flex : 1;

}

.annulerOuValider{
    margin : 20px 0 10px 0;
}
.error{
    color: #c0392b;
}
.succes{
    color: #2ecc71;
}
</style>