{% extends 'main.html.twig' %}

{% block content %}
    <h1> Listes des sandwiches </h1> <br>

    {% for sand in sandwiches %}
        <div class="sand">
            <div class="buttons">
                <button onclick="deleteSandwich({{sand.id}})"> Supprimer </button> 
                <button onclick="editSandwich({{sand.id}})"> Modifier </button> 

            </div>
            <div id="detailsContainer{{ sand.id }}">
                <h4> {{ sand.nom  }}</h4>
                <div> {{ sand.description }} </div>
                <div> type de pain : {{ sand.type_pain }} </div>
                <div> prix : {{ sand.prix }} </div>
            </div>

            <div class="formContainer" id="formContainer{{ sand.id }}">
                
                    <span> Nom : </span>
                    <input id="inputName" class="editSand" type="text" placeholder"Nom" value="{{ sand.nom }}"/> <br>
                    <span> Description : </span>
                    <input id="inputDescr"  class="editSand" type="text" placeholder"description" value="{{ sand.description }}"/> <br>
                    <span> Type de pain : </span>
                    <input id="inputType" class="editSand" type="text" placeholder"type de pain" value="{{ sand.type_pain }}"/> <br>
                    <span> Prix : </span>
                    <input id="inputPrix" class="editSand" type="text" placeholder"prix" value="{{ sand.prix }}"/> <br>
                    <div class="annulerOuValider">
                        <input onclick="annuler({{ sand.id }})" type="button" value="Annuler">
                        <input onclick="validerSandwich({{ sand.id }})" type="button" value="Valider">
                    </div>
            </div>

            <br>
            </div>
        <hr>


    {% endfor %}

{% endblock %}
