{% extends 'main.html.twig' %}

{% block content %}
    <meta http-equiv="refresh" content="1;URL={{ link }}">
    <div class="succes">
        <h1>Succes :</h1>
        <p>{{ msg }}</p>
    </div>
{% endblock %}